/config/database.php
/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/yajra

.env
!/docker-utility/.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
