/config/database.php
/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/yajra
/vendor/yajra/laravel-datatables-html
/vendor/yajra/laravel-datatables-buttons
/vendor/yajra/laravel-datatables-oracle/*
!vendor/yajra/laravel-datatables-oracle/src/
vendor/yajra/laravel-datatables-oracle/src/*
!vendor/yajra/laravel-datatables-oracle/src/*QueryDataTable*

.env
!/docker-utility/.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log